<div class="content-wrapper flex flex-col flex-grow overflow-hidden shadow-lg bg-white rounded-lg">
    <!-- Encabezado de la Sección -->
    <div class="p-4 border-b border-gray-200">
        <h2 class="text-xl font-semibold">Gestión de Incidencias</h2>
    </div>

    <!-- Contenedor de la Tabla -->
    <div class="flex-grow overflow-hidden">
        <div class="relative w-full h-full">
            <div class="overflow-hidden max-h-[calc(100vh-150px)]">
                <p-table 
                    [responsive]="true"
                    [value]="issues" 
                    [scrollable]="true"
                    scrollHeight="calc(100vh-150px)"
                    [tableStyle]="{'min-width': '100rem'}">

                    <ng-template pTemplate="header">
                        <tr class="sticky top-0 bg-white shadow-md z-10">
                            <th class="px-4 py-2 border-b border-gray-200">#</th>
                            <th class="px-4 py-2 border-b border-gray-200">Descripción</th>
                            <th class="px-4 py-2 border-b border-gray-200">Fecha</th>
                            <th class="px-4 py-2 border-b border-gray-200">Equipo Afectado</th>
                            <th class="px-4 py-2 border-b border-gray-200">Estado</th>
                            <th class="px-4 py-2 border-b border-gray-200">Usuario Afectado</th>
                            <th class="px-4 py-2 border-b border-gray-200">Usuario Asignado</th>
                            <th class="px-4 py-2 border-b border-gray-200">Nivel1</th>
                            <th class="px-4 py-2 border-b border-gray-200">Nivel2</th>
                            <th class="px-4 py-2 border-b border-gray-200">Resolución</th>
                            <th class="px-4 py-2 border-b border-gray-200">Fecha Cierre</th>
                        </tr>
                    </ng-template>
                    

                    <ng-template pTemplate="body" let-issue>
                        <tr>
                            <td>{{issue.idIncidencia}}</td>
                            <td pTooltip="{{issue.descripcion}}" tooltipPosition="top">{{issue.descripcion}}</td>
                            <td>{{issue.fechaIncidencia | date: 'dd-MM-yyyy HH:mm' }}</td>
                            <td>{{issue.equipo}}</td>
                            <td>{{issue.estado}}</td>
                            <td>{{issue.usuarioAfectado}}</td>
                            <td>{{issue.usuarioAsignado}}</td>
                            <td>{{issue.nivel1}}</td>
                            <td>{{issue.nivel2}}</td>
                            <td>{{issue.resolucionIncidencia}}</td>
                            <td>{{issue.fecCierre | date: 'dd-MM-yyyy HH:mm' }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
